/*
	Navigation
*/
.navigation .name{
	font-size: 35px;
}

#menu{
	padding-bottom: 10px;
}

/*
	Content
*/
.contenttype .ctype{
				text-align: left;
				padding-top: 20px;
				padding-bottom: 10px;
				color: rgba(0, 0, 0, 0.8);
				font-size: 20px;	
			}

.cheader{
	text-align: left;
	color: rgb(0, 123, 182);
	font-size: 16px;
}

.cdate{
	float: right;
	clear: both;
	font-size: 12px;
}

.clocation{
	opacity: 0.5;
	text-align: left;
	font-size: 12px;
}

/* Avståndet mellan content nedåt */
.ctext{
	font-size: 12px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 20px;
}

/*
	More-knapp
*/
.more{
	text-align: left;
	font-weight: bold;
	padding-bottom: 10px;
	width: 50px;
	
}
			
